
.frame{
	overflow: hidden;
	border: solid 2px;
	border-color: #dfdfdf;

}

.frame img:hover {
	-webkit-filter: grayscale(0%);
	-moz-filter: grayscale(0%);
	-o-filter: grayscale(0%);
	filter: grayscale(0%);
}

.frame img {
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-o-filter: grayscale(100%);
	filter: grayscale(100%);
	display: block;
}
#header{
	text-shadow: 2px 2px 6px #212;
	opacity: 1;
	color:#fff;
	font-size: larger;
	font-style: bold;
	background: rgba(0,0,0,0.4);
	box-shadow: rgba(0, 0, 0, 0.037255) 0px 0px 10px 6px, rgba(0, 0, 0, 0.480392) 1px 1px 8px 8px
}
body{
	background:#000;
}
.box{
	background: rgba(0,0,0,0);
	box-shadow: rgba(0, 0, 0, 0.037255) 1px 1px 8px 24px, rgba(0, 0, 0, 0.480392) 1px 1px 17px 2px;
	color:#fff;
}

#lanterncontainer{
	position: fixed;
	overflow: hidden;
	height: 100%;
	width: 100%;
	top:0px;
}
#lanterncontainer img{
	border: none;
}
* { margin: 0px; }
div#field {
  position: fixed;
  overflow: hidden;
  height: 100%;
  width: 100%;
  top:0px;
    background-color: black;
}
div#field img {
    position: fixed;
    height: 4px;
    width: 4px;
}
#lanterncontainer{
position: fixed;
overflow: hidden;
height: 100%;
width: 100%;
top:0px;
}
#lanterncontainer img{
  border: none;
}
#intro{
	background: none;
}
